* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

h1 {
    margin-top: 2rem;
    font-size: 3.35rem;
    text-align: center;
}

/* Initial screen - player names input */

.play-button {
    display: block;
    background-color: rgb(141, 223, 19);
    border: none;
    border-radius: 6px;
    padding: 16px 40px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin: 30vh auto;
}

.play-button:hover {
    cursor: pointer;
    outline: 2px solid black;
    color: black;
}

.player-names-container {
    display: none;
    margin-top: 25vh;
}

.player-names {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

.player-names label {
    margin-block: .5rem;
    font-size: 1rem;
}

.player-names input {
    padding: 4px;
}

.player-names p {
    margin-top: 4px;
    color: #777777;
}

.start-button {
    margin-top: 2rem;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
    background-color: rgb(141, 223, 19);
    font-size: 1rem;
    font-weight: bold;
}

.start-button:hover {
    cursor: pointer;
    outline: 2px solid black;
}

/* Board container */

.table-container {
    width: 600px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ddd;
    display: none;
}

table {
    border-collapse: collapse;
}

td {
    width: 200px;
    height: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    border: 12px solid whitesmoke;
    overflow: hidden;
}